<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="client">
            <directory>packages/client/tests</directory>
        </testsuite>
        <testsuite name="connectors-mysql">
            <directory>packages/connectors/mysql/tests</directory>
        </testsuite>
        <testsuite name="connectors-postgres">
            <directory>packages/connectors/postgres/tests</directory>
        </testsuite>
        <testsuite name="common">
            <directory>packages/common/tests</directory>
        </testsuite>
        <testsuite name="connectors-sqlite">
            <directory>packages/connectors/sqlite/tests</directory>
        </testsuite>
        <testsuite name="schema-generation">
            <directory>packages/schema-generation/tests</directory>
        </testsuite>
        <testsuite name="laravel">
            <directory>packages/laravel/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
